*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background: rgb(255, 255, 255);
}

.intro-Toptext{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #1abc9c;
    font-weight: 300;
    text-align: center;
    margin-top: 3rem;
    font-size: 25px;
}

.detel{
    margin-left: 8%;
    margin-top: 13%;
    /* width: 50%; */
}
.detel h1{
    font-size: 3vw;
    color: #000;
    margin-bottom: 20px;
}
.typewrite {
    color: #ff0000; /* Change this to the desired color value */
  }
.detel p{
    color: #555;
    line-height: 2vw;
}
.detel a{
    background: #212121;
    padding: 1vw 2vw;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    display: inline-block;
    margin: 30px 0px;
    border-radius: 4px;
}
.hero .detel .typewrite{
    font-size: 2.4vw;
}
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    
    bottom: 0;
    right: 100px;
}
.images .shape{
    height: 650px;
    transform: translate(-60%,130%);


}
.images img{
    height: 550px;
    position:absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-60%,150%);
     
    transition: bottom 1s, left 1s;
}
.images:hover .shape{
    bottom: 40px;

}
.images:hover .boy{
    left: 45%;

}


 
@media screen and (max-width: 820px) {
  

  /* .detel h1 {
      font-size: 32px; /* Reduce font size for smaller screens */
  

  .detel h1{
        font-size: 5vw;
  }

  .images .shape {
      margin-top: 10px; 
      transform: translate(-26%,37%);
      width: 42vw;
      height: auto;

  }
  .hero{
    height: 49vh;
  }
 
  .images .boy {
    margin-top: 10px; 
    transform: translate(-33%,49%);
    
    width: 36vw;
    height: auto;

}
}

@media screen and (max-width: 480px) {
    .detel h1{
        font-size: 7vw;
  }
  .detel p{
    font-size: 4vw;
    line-height: 3vh;
}

  .images .shape {
      margin-top: 10px; 
      transform: translate(-50%,104%);
      width: 70vw;
      height: auto;

  }
  .images .boy {
    margin-top: 10px; 
    transform: translate(-70%,135%);
    
    width: 60vw;
    height: auto;

}
.images{
    transform: translate(-5%,-33%);
}
.hero .detel .typewrite {
    font-size: 6.4vw;
}
}