.services{
    background: green;
}
.main-text{
    text-align: center;
    
}
.main-text p{
    color: #204840;
    font-size: 15px;
    margin-top: 5rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
}
.main-text h2{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #1abc9c;
    font-weight: 300;
    line-height: 1;
    font-size: 35px;
}
.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,auto));
    align-items: center;
    margin: auto;
    max-width: 94vw;
    gap: -0.5rem;
    margin-top: 5rem;
}
.box{
    background:rgb(26, 188, 156);
    padding: 30px 35px;
    border-radius: 8px;
    margin:auto;
    cursor: pointer;
    transition: all .45s ease;
    width: 76%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif
}
.s-icon i{
    font-size: 32px;
    margin-bottom: 20px;
    color:rgb(146, 36, 36);
}
.box h3{
    font-size: 24px;
    font-weight: 600;
    color: white;
    margin-bottom: 15px;
}
.box p{
    color: aliceblue;
    font-size: 1rem;
    line-height: 1.4;
    margin-bottom: 25px;
}
.read{
    display: inline-block;
    padding:8px 18px;
    background: #149279;
    text-decoration-color: #000000;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    transition: all .45s ease-in;
}
.read:hover{
    letter-spacing: 1px;
    background: white;
    color: #149279;
}
.box:hover{
    transform: translateY(-8px);
    cursor: pointer;
}

        /* portfolio */

.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,auto));
    align-items: center;
    max-width: 94vw;
    margin: auto;
    gap: 2.5rem;
    margin-top: 5rem;
    padding-bottom: 5rem;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    width: 80%;
    margin: auto;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    padding: 0 10px;

    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    /* background: linear-gradient(rbga(0,0,0,0.1), #ff004f); */
    background: #1abc9c;

    position: absolute;
    border-radius: 8px;
    left: 0px;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
    transition: height 0.5s;

}
.layer h5{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    line-height: 1.8;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height:100% ;
}
@media screen and (max-width: 820px) {
  

   .services{
    margin-top: 2px;
   }
   .main-text p {   
    margin-top: 0rem;
}
.services-content {
    grid-template-columns: repeat(auto-fit, minmax(260px,auto));
    gap: 1rem;
    margin-bottom: 68px;
}
  
 
  }
  
  @media screen and (max-width: 480px) {
    .box{
        transform: translatey(-53%,);
        top: 30%;
        margin-top: 2vw;
        background-color: #1abc9c;
        width: 87vw;
    }
    .services{
      margin-top: 42vh;
    }
    .services-content{
        margin-top: 95vh;
        transform: translateY(14%);
      }
      /* .services .main-text{
        transform: translatey(-33%,);
        
      } */
      .main-text .black {
        margin-top: 79rem;
      }
      .main-text .last {
        margin-bottom: -42.5rem;
      }
      .portfolio .main-text .up{
      margin-top: 18vh;

      }
      .portfolio .main-text .down{
        margin-bottom: -8vw;
  
        }
        .portfolio-content {
           margin-top: 11vh;
        }
  }